<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>TemperatureServlet</servlet-name>
        <servlet-class>servlet.TemperatureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemperatureServlet</servlet-name>
        <url-pattern>/convert</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>TempFilter</filter-name>
        <filter-class>filter.TempFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TempFilter</filter-name>
        <url-pattern>/convert</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>listener.RequestListener</listener-class>
    </listener>
</web-app>
